# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
venv2/
env/
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Build
dist/
build/

# Model files (optional)
*.pth
*.pt
*.ckpt

# Logs
*.log